services:
  mkdocs:
    build: .
    volumes:
      - ./docs:/server/docs
      - ./mkdocs.yml:/server/mkdocs.yml
      - ./pdf_event_hook:/server/pdf_event_hook
    working_dir: /server/
    command: ["serve","--dev-addr=0.0.0.0:8000","--clean"]
    ##command: ["build"]
    environment:
      - ENABLE_PDF_EXPORT=1
    ports:
      - "8000:8000"
