services:
  mkdocs:
    build:
      context: .
      dockerfile: dockerfile
    volumes:
      - ./docs:/server/docs
      - ./mkdocs.yml:/server/mkdocs.yml
    working_dir: /server/
    command: ["serve","--dev-addr=0.0.0.0:8000","--clean"]
    ports:
      - "8000:8000"
